<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ChromeTest">
   <parameter name="browserName" value="chrome"></parameter>
   <classes>
      <class name="com.sauceDemo.TestClasses.TC002VarifyLogoutFunctionality1"/>
      <class name="com.sauceDemo.TestClasses.TC004VarifySingleProductAddtoCartFunctionality1"/>
      <class name="com.sauceDemo.TestClasses.TC003VarifyMultipleProductAddtoCartFunctionality1"/>
      <class name="com.sauceDemo.TestClasses.TC001VarifyLoginFunctionality1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
